<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
    <style>
        .pagination {
            display: inline-block;
        }
        .pagination a {
            color: black;
            float: left;
            padding: 5px 5px;
            text-decoration: none;
        }
        .pagination a.active {
            background-color: gray;
            color: white;
            border-radius: 2px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script th:inline="javascript">
    //thymeleaf to javascript variables
    /*<![CDATA[*/
    var sortProperty = /*[[${sortProperty}]]*/ null;
    var sortDesc = /*[[${sortDesc}]]*/ null;
    var currentPage = /*[[${customerPage.number}]]*/ 0;
    var pageSize =/*[[${customerPage.size}]]*/ 0;
    /*]]>*/

    $(document).ready(function(){
     //show up/down arrows
     $("table#emp-table thead th").each(function(){
        var head = $(this);
        if(head.attr('data-sort-prop')==sortProperty){
            head.append(sortDesc?'▾':'▴');
        }
        });

     //set click action, reload page on clicking with all query params
     $("table#emp-table thead th").click(function() {
      var headerSortPropName = $(this).attr("data-sort-prop");
      if(headerSortPropName==sortProperty){
          window.location.href = window.location.pathname+
          '?page='+currentPage+'&size='+pageSize+'&sort='+ headerSortPropName+','+
          (sortDesc?'asc':'desc');
      }else{
           window.location.href = window.location.pathname+
          '?page='+currentPage+'&size='+pageSize+'&sort='+ headerSortPropName+',asc';
      }
      });
    });
  </script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <table class = "table table-striped" id="emp-table">
        <thead>
            <tr>
                <th data-sort-prop="id">Customer ID</th>
                <th data-sort-prop="firstName">First Name</th>
                <th data-sort-prop="lastName">Last Name </th>
                <th data-sort-prop="status">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer, iStat : ${customerPage.content}">
                <td th:text="${customer.id}" />
                <td th:text="${customer.firstName}" />
                <td th:text="${customer.lastName}" />
                <td th:text="${customer.status}" />
                <td><a th:href="@{/user/profile(id=${customer.id})}">
                    <span class="glyphicon glyphicon-user"></span></a></td>
            </tr>
        </tbody>
    </table>
    <div th:if="${customerPage.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}" th:with="sortParam=${sortProperty+','+(sortDesc?'desc':'asc')}">
        <a th:href="@{/user(size=${customerPage.size}, page=${pageNumber-1}, sort=${sortParam})}"
           th:text=${pageNumber}
           th:class="${pageNumber==customerPage.number + 1} ? active"></a>
    </div>
</div>
</body>
</html>